.DS_Store
.snakemake
.snakemake.environment.yml
Icon*
*.out
*.log
*.aux
*.bbl
*.blg
*.synctex.gz
*.fls
.vscode/
.Rproj.user
moderncv*
tweaklist.sty
colors.tex
cv/.snakemake_timestamp
timestamp.txt
# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock